:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-color: #646cff;
    --primary-color-hover: #535bf2;
    --tertiary-color: #f2f2f2;
    --font-color: #333;
    --background-color: #000;
    --background-color-secondary: #1a1a1a;
}