@import "./assets/variable.css";

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    max-width: 100%;

    color: rgba(255, 255, 255, 0.87);
    background-color: var(--background-color);
}

#root {
    text-align: left !important;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 480px) {
        padding: 0 !important;
    }
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;

    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 480px) {
        font-size: 1.5rem;
    }
}

.appNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appName {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
}

.appIcon {
    max-width: 15vw;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

.todo_button {
    padding: 5px !important;
    margin: 2px !important;
    background: transparent !important;
    font-size: 0.9rem !important;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 0.25em;
    background-color: var(--background-color-secondary);
}

.todo_text {
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    color: var(--font-color);
    text-decoration: none;

    @media screen and (max-width: 480px) {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.todo_input {
    background: transparent;
    /*border: none;*/
    border-color: transparent;
    border-bottom: 2px solid ;


   @media screen and (max-width: 480px) {
    font-size: 1rem;
    padding: 0.25rem;
}

    &:focus {
        outline: none;
    }

    &[readonly] {
        border: none;
    }
}
