@import "./assets/variable.css";

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    max-width: 100%;

    color: rgba(255, 255, 255, 0.87);
    background-color: var(--background-color);
}

#root {
    text-align: left !important;
    display: flex;
    flex-direction: column;
}

a {
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: inherit;
}

a:hover {
    color: var(--primary-color-hover);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

ul {
    list-style-type: none;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

.todo_button {
    padding: 5px !important;
    margin: 2px !important;
    background: transparent !important;
    font-size: 0.9rem !important;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 0.25em;
    background-color: var(--background-color-secondary);
}

.todo_input {
    background: transparent;
    /*border: none;*/
    border-color: transparent;
    border-bottom: 2px solid ;

    &:focus {
        outline: none;
    }

    &[readonly] {
        border: none;
    }
}
